:root {

  --text-primary: #1d1f21;
  --text-secondary: #909090;

  --logo-primary: var(--text-primary);
  --logo-secondary: var(--text-secondary);


  --body-text-primary: var(--text-primary);
  --body-text-complementary: var(--text-secondary);

  --accent-color: #ff0004;

  --btn-color-bg-primary: #1d1f21;
  --btn-color-text-primary: #fff;
  --btn-color-border-primary: var(--btn-color-bg-primary);
  --btn-color-bg-secondary: #e7e7e7;
  --btn-color-text-secondary: #1d1f21;
  --btn-color-border-secondary: var(--btn-color-bg-secondary);
  --btn-color-bg-tertiary: var(--accent-color);
  --btn-color-text-tertiary: #fff;
  --btn-color-border-tertiary: var(--btn-color-bg-tertiary);
  --btn-color-bg-quaternary: #fff;
  --btn-color-text-quaternary: #747474;
  --btn-color-border-quaternary: #bebebe;


  --text-family: 'General Sans', sans-serif;
  --heading-family: 'Satoshi', sans-serif;
}