:root {
  /* <-----|    Colors    |-----> */

  /* --- General colors */
  --accent-color: #ff0004;
  --neutral-color: #e7e7e7;
  --neutral-color-secondary: #d0d0d05b;
  --neutral-color-tertiary: #909090;
  --neutral-color-quaternary: #d1d1d1;

  --body-bg-color: #FFFFFF;
  --body-bg-color-secondary: #1d1f21;
  --body-bg-color-tertiary: #f8f8f8;

  /* --- Header colors */
  --header-bg-color: #FFFFFF;
  /* Nav-bar */
  --navlink-text-active: var(--text-tertiary);
  --navlink-bg-active: #1d1f21;

  /* --- Text colors */
  --text-primary: #1d1f21;
  --text-secondary: #909090;
  --text-tertiary: #FFFFFF;
  --body-text-primary: var(--text-primary);
  --body-text-secondary: var(--text-secondary);
  --body-text-tertiary: var(--text-tertiary);
  /* -highlights */
  --text-highlight-primary: #909090;
  --text-highlight-secondary: var(--accent-color);
  --text-highlight-tertiary: var(--accent-color);
  --text-highlight-quaternary: #FFFFFF;

  /* --- Logo colors */
  --logo-primary: var(--text-primary);
  --logo-secondary: var(--text-secondary);

  /* --- Buttons colors */
  /* -primary */
  --btn-color-bg-primary: #1d1f21;
  --btn-color-text-primary: #fff;
  --btn-color-border-primary: var(--btn-color-bg-primary);
  --btn-color-icon-primary: var(--btn-color-bg-primary);
  --btn-color-icon-bg-primary: #FFF;
  /* -secondary */
  --btn-color-bg-secondary: var(--neutral-color);
  --btn-color-text-secondary: #1d1f21;
  --btn-color-border-secondary: var(--btn-color-bg-secondary);
  --btn-color-icon-secondary: #FFFFFF;
  --btn-color-icon-bg-secondary: var(--btn-color-text-secondary);
  /* -tertiary */
  --btn-color-bg-tertiary: var(--accent-color);
  --btn-color-text-tertiary: #fff;
  --btn-color-border-tertiary: var(--btn-color-bg-tertiary);
  --btn-color-icon-tertiary: var(--accent-color);
  --btn-color-icon-bg-tertiary: var(--btn-color-text-tertiary);
  /* -quaternary */
  --btn-color-bg-quaternary: transparent;
  --btn-color-text-quaternary: #747474;
  --btn-color-border-quaternary: var(--neutral-color-quaternary);
  --btn-color-icon-quaternary: var(--btn-color-text-quaternary);
  --btn-color-icon-bg-quaternary: var(--btn-color-bg-quaternary);

  /* <-----|    Fonts    |-----> */

  /* Font Families */
  --text-family: 'General Sans', sans-serif;
  --heading-family: 'Satoshi', sans-serif;

  /* <-----|    Spacings    |-----> */
  --gutter: max(20px, 4%);
  --section-max-width: 1440px;
  --scrollbar-size: 8px;
}

@media only screen and (max-width: 1440px) {
  :root {
    /* <-----|    Spacings    |-----> */
    /* This fixes max-width variable when used in combination with containType === 'padding' in Section Component  */
    --section-max-width: 100%;
  }
}